apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: logo-pvc
  namespace: minicrm
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
  storageClassName: ""  # Use default storage class
